@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0%;
    font-family: Raleway;
    font-weight: bold;  
}

body{
    background-color: #ececec; 
}

/* .navbar{
    height: 7%;
} */

.gallery{
    float: left;
    width: 50px;
    margin: 0%;
    font-size: 20vw;
}

.cards{
    
    margin-top: 15px;
    border: none;  
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
   
}

.cards:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.07);
}

a{
    color: inherit;
    text-decoration: none !important;
    
 }

a:hover{
    color: black;
    
}

 p{
     font-size: 90%;;
 }

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 9px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(39, 39, 39);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(129, 129, 129);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   
  .bottom-card{
    background-color: #b7b7b7;
  }